:root{
    --cor-mouse-sobre: rgb(141, 141, 141);
    --cor-hub: rgb(124, 166, 252);
    --cor-fundo: rgb(54, 121, 255);
    --cor-fundo-selecionado: red;
    --cor-texto: rgb(0, 0, 0);
    --cor-submenu: rgb(237, 237, 237);
    --cor-submenu-selec: rgb(124, 124, 124);
    --cor-selec: rgb(255,255,255);
    --cor-texto-submenu: rgb(22, 22, 22);
}
div.sobre{
    overflow: hidden;
    background-color: #cccccc;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    width: 80%;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 5px;
}
body {
    background-image: url("../img/background.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div.imageText{
    border: 2px solid rgb(155, 155, 155);
    border-radius: 5px;
    width: 25%;
    display: inline-block;
}
div.imageText img{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
div.hub{
    background-color: var(--cor-hub);
    width: 99%;
    height: 250px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://media-exp1.licdn.com/dms/image/C4D16AQGEVmPirYFSEA/profile-displaybackgroundimage-shrink_350_1400/0/1668265275574?e=1673481600&v=beta&t=fLEHActZwDB7w0Rp_4XOSnhhowIvP4YULFNW4VF77Ws");
}
div.back:hover{
    background-color: var(--cor-mouse-sobre);
}
div.back{
    transition: background-color 0.5s;
    background-color: var(--cor-hub);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
div.fundo{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    top: auto;
}
div.profile-pic{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 100%;
    width: 210px;
    height: 210px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgb(0, 0, 0);
    transition: background .5s;
}
div.profile-pic:hover{
    background-color: rgb(141, 141, 141);
}
div.profile-pic:hover + div.back{
    background-color: rgb(--cor-hub);
}
div.profile-pic img{
    margin-top: 2.5%;
    height: 95%;
    border-radius: 100%;
}